<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dnd.combattracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.manageencounter.ManageEncounterActivity"
            android:label="@string/title_activity_manage_encounter"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".repository.EncounterProvider"
            android:authorities="dnd.combattracker.repository.EncounterProvider"
            android:exported="false" />
        <provider
            android:name=".repository.CreatureProvider"
            android:authorities="dnd.combattracker.repository.CreatureProvider"
            android:exported="false" />
        <provider
            android:name=".repository.EncounterCreatureProvider"
            android:authorities="dnd.combattracker.repository.EncounterCreatureProvider"
            android:exported="false" />
    </application>

</manifest>